<%- contentFor('body') %>
<header>
        <div class="container">
            <div class="row ">
                <div class="col-md-4 form-home offset-md-7 p-4">
                    <h2 class="mb-4 text-center">Sair de dentro da caixa e venha programar</h2>
                    <form action="/cadastro" method="post">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-dark">faça sua inscrição</button>
                    </form>
                </div>
            </div>
        </div>	
    
</header>