<%- contentFor('body') %>

<nav class="navbar navbar-light bg-black ">
        <a  href="/" class="navbar-brand text-white">EduNOW</a>
        
        <form class="form-inline" action="/autenticar" method="post">
    
              <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text  text-dark" id="basic-addon1">@</span>
          </div>
              <input type="email" name="email" class="form-control  mr-1" placeholder="e-mail" aria-label="email" >
        </div>
        <input class="form-control mr-sm-2 " name="senha" type="password" id="senha-login" placeholder="senha" >
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logar</button>
        </form>
        </nav>


  


<header>
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-4 form-home offset-md-7 p-4">
                    <h2 class="mb-4 text-center">Sair de dentro da caixa e venha programar</h2>
                    <form action="/signup" method="post">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-dark">faça sua inscrição</button>
                    </form>
                </div>
            </div>
        </div>	
    
</header>