<!-- <p>js</p> -->
<nav class="navbar navbar-light bg-dark ">
    <a href="/" class="navbar-brand text-white ">EduNOW</a>
</nav>     
<header>
    <div class="container my-5">
        <div class="row ">
            <div class="col-md-4 form-home offset-md-7 p-4">
                <h2 class="mb-4 text-center">Agora Vamos começa o curso de Javascript</h2>
                <form action="/show" method="post">
                    <button type="submit"  name="JS" class="btn btn-lg btn-block btn-outline-dark">Acessar o curso</button>
                </form>
            </div>
        </div>
    </div>	

</header>