<%- contentFor('body') %>
<!-- <div class="jumbotron text-center">
    <h1>enradaa</h1>
    <div class="row">

        <p>oiii</p>

    </div>
</div> -->
<nav class="navbar navbar-light bg-dark ">
        <a href="/" class="navbar-brand text-white ">EduNOW</a>
</nav>        

<img class="img-fluid w-100" src="https://raw.githubusercontent.com/cris-luz-07/agoravai/master/public/img/banner-entrada.jpg">

     <section class=" p-5">
	<h2 class="text-center pb-5">Cursos escolhidos:</h2>
	<div class="container ">
            <div class="row d-flex align-content-center justify-content-center text-center">
                    <div class="col-12 col-md-3 ">
                    
                 
                 <div class="card border-dark mb-3" style="max-width: 18rem;">
                 <div class="card-header"><img class="img-fluid w-25" src="https://raw.githubusercontent.com/cris-luz-07/agoravai/master/public/img/HTML5.png"></div>
                 <div class="card-body text-dark">
                 <h5 class="card-title">Curso de html 5</h5>
                 </div>
                 </div>
                    </div>	
                    <div class="col-12 col-md-3 ">
                        
                        
                 
                        <div class="card border-dark mb-3" style="max-width: 18rem;">
                 <div class="card-header"><img class="img-fluid w-25" src="https://raw.githubusercontent.com/cris-luz-07/agoravai/master/public/img/CSS3.png"></div>
                 <div class="card-body text-dark">
                 <h5 class="card-title">Curso de css3</h5>
                 </div>
                 </div>
                 
                    </div>	
                    <div class="col-12 col-md-3 ">
                 
                        <div class="card border-dark mb-3" style="max-width: 18rem;">
                 <div class="card-header"><img class="img-fluid w-50" src="https://raw.githubusercontent.com/cris-luz-07/agoravai/master/public/img/js.png"></div>
                 <div class="card-body text-dark">
                 <h5 class="card-title">Curso de js</h5>
                 </div>
                 </div>
                    </div>	
                    <div class="col-12 col-md-3 ">
                        
                        
                                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                 <div class="card-header"><img class="img-fluid " src="https://raw.githubusercontent.com/cris-luz-07/agoravai/master/public/img/nodejs.png"></div>
                 <div class="card-body text-dark">
                 <h5 class="card-title">Curso de nodejs</h5>
                 </div>
                 </div>
                    </div>		
                 </div>
                 </div>
                 </section>       

                 <header>
                    <div class="container my-5">
                        <div class="row ">
                            <div class="col-md-4 form-home offset-md-7 p-4">
                                <h2 class="mb-4 text-center">Sair de dentro da caixa e venha programar</h2>
                                <form action="/show" method="post">
                                    <button type="submit"  name="js" class="btn btn-lg btn-block btn-outline-dark">faça sua inscrição</button>
                                </form>
                            </div>
                        </div>
                    </div>	
                
                </header>
                
